/* IMPORT VARS */
@import '@/styles/vars.scss';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    background-color: $background;
    font-family: $font;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.debug {
    border: 1px solid red;
}